.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.icon-style {
    margin-left: 90px;
}

/* ------------------------- */
.navbar1 {
    background-image: linear-gradient(137.48deg, #000000 10%, #000000 45%, #ad4907 79%, #c07008fb 90%);
}

.link {
    font-weight: bold;
}

.main {
    position: relative;
    width: 100%;
    height: 98vh;
    overflow: hidden;
}

@media (max-width: 768px) {

    .main {
        height: 80vh;
    }

    .content h1 {
        font-size: 20px;
    }

    .c-button {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .content {
        text-align: center;
        margin: 0;
        padding: 20px;

        .c-button {
            font-size: 18px;
        }

        h1 {
            font-size: 18px;
        }
    }
}

@media (max-width: 349px) {
    .content {
        text-align: center;
        margin: 20px;
        padding: 20px;

        .c-button {
            font-size: 18px;
        }

        h1 {
            font-size: 18px;
        }
    }
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.c-button {
    color: black;
    font-weight: 700;
    font-size: 25px;
    margin: 19px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.c-button--gooey {
    color: #ad4907;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 3px solid #ad4907;
    border-radius: 5px;
    position: relative;
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button--gooey .c-button__blobs div {
    background-color: rgb(192, 105, 5);
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button--gooey:hover {
    color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}

.bgbody {
    background-image: linear-gradient(137.48deg, #000000 10%, #000000 45%, #3f1b03 79%, #110a01fb 90%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}


/* ---------footer--------- */

.foot {
    background-image: linear-gradient(137.48deg, #000000 10%, #000000 45%, #2e1302 79%, #1f1508fb 90%);
    color: white;
}

/* -----------button-------- */
.c-button2 {
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin: 19px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

.c-button2--gooey {
    color: #ad4907;
    letter-spacing: 2px;
    border: 3px solid #ad4907;
    border-radius: 5px;
    position: relative;
    transition: all 700ms ease;
}

.c-button2--gooey .c-button__blobs {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button2--gooey .c-button__blobs div {
    background-color: rgb(192, 105, 5);
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button2--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button2--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button2--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button2--gooey:hover {
    color: #fff;
}

.c-button2--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}


/* ---------comment box--------- */

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.group {
    position: relative;
}

.form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
}

.form .group input,
.form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
}

.form .group input:placeholder-shown+label,
.form .group textarea:placeholder-shown+label {
    top: 10px;
    background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
    border-color: #3366cc;
}

.form .group input:focus+label,
.form .group textarea:focus+label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
}

.form .group textarea {
    resize: none;
    height: 100px;
}

.form button {
    background-color: #3366cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form button:hover {
    background-color: #27408b;
}


/* Card container style */
.card1 {
    margin-bottom: 20px;
}

.card1:hover {
    transform: translateY(-5px);
}

.content1 {
    border: 1px solid #ad4907;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(5, 2, 0) 10%, rgb(0, 0, 0) 100%);
    padding: 15px;
    text-align: center;
}

.menu-img {
    margin-bottom: 20px;
}


.menu-img svg {
    display: block;
    margin: 0 auto;
}

.circle-image {
    border-radius: 50%;
    object-fit: cover;

}

.menu-content h3 {
    font-size: 30px;
    margin-bottom: 10px;
}


.btn-group {
    display: flex;
    justify-content: center;
}

/* Button style */
.btn1 {
    background-color: #522406;
    color: #fff;
    border: none;
    padding: 8px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn1:hover {
    background-color: #844b0f;
    color: #000000;
}


.tooltip {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}


/* rating stars */

.rating-star {
    cursor: pointer;
}

input[type=radio] {
    display: none;
}

.star {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px;
}

/* 
.card-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}

.arrow-animation {
    width: 128px;
    position: absolute;
    top: 0;
    right: -41px;
    transform: translateY(-100%);
}
*/

/* .main .content .vertical-line {
   display: flex;
   flex-direction: column;
   align-items: center;
    style={{ transform: 'rotate(-270deg)', transformOrigin: 'center bottom', marginTop:'10px' }}
}  */

.special-deal {
    transform: rotate(-270deg);
    transform-origin: center bottom;
    margin-top: 10px;
    position: absolute;
    bottom: 120px;
    right: -30px;
    color: #ad4907;
}

.special-deal::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 25px;
    height: 3px;
    width: 0%;
    background-color: #ad4907;
    animation: expand 1s infinite;
}

@keyframes expand {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}



.animation {
    width: 100%;
    height: 100px;
    margin-top: 30px;
}

.cards {
    border: 1px solid #ad4907;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(5, 2, 0) 10%, rgb(0, 0, 0) 100%);
    padding: 15px;
    text-align: center;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 40px;
}


.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

/* contact box */

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
        0 0 25px #03f40f,
        0 0 50px #03f40f,
        0 0 100px #03f40f;
}

.login-box a span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
}

/* contact section end */
/* map */

.map {
    height: 65vh;
    width: 100%;
    overflow: hidden;
    border: 2px solid #000000;
    border-radius: 30px;
}

/* .map-box {
    margin: 300px;
} */

/* map section end */

@media (max-width:786px) {}